<!-- booking-success.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booking Successful</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="success-page">

    <div class="success-box">
        <h1>Table Booked Successfully 🎉</h1>

        <p>
            Your table has been booked successfully.
            Now you can select your favourite dishes from our menu.
        </p>

        <div class="success-buttons">
            <a href="/" class="home-btn-top">🏠 Home</a>
            <a href="/menu" class="back-btn">Select Food</a>
        </div>
    </div>

</div>

</body>
</html>