<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Placed Successfully</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="success-page">

    <div class="success-box">
        <h1>Order Placed Successfully 🎉</h1>

        <p>
            Your food order has been sent to the kitchen.
            You can track your order status anytime.
        </p>

        <div class="success-buttons">
            <a href="/" class="home-btn-top">🏠 Home</a>
            <a href="/orders" class="back-btn">View My Orders</a>
        </div>
    </div>

</div>

</body>
</html>